<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="backyardregister.fallfestregister">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/cash_register"
        android:label="@string/app_name"
        android:roundIcon="@drawable/cash_register"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SaleListEditingSelectorActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>
        <activity android:name=".SaleListEditorActivity" />
        <activity android:name=".ViewTransactionHistorySelectionActivity" />
        <activity android:name=".ResetTransactionHistorySelectionActivity" />
        <activity android:name=".ExportTransactionHistorySelectionActivity" />
        <activity android:name=".TransactionHistoryActionActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".ViewTransactionHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChangeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SaleListSelectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StartMenuActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="mywebsite.com"
                    android:pathPattern="/app"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TotalActivity"
            android:label="@string/title_activity_total"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ItemSelectionActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
    </application>

</manifest>